<?xml version="1.0"?>
<launch>

  <arg name="world" default="sim_map"/>
  <arg name="init_pos_x" default="0.0"/>
  <arg name="init_pos_y" default="0.0"/>
  <arg name="init_pos_z" default="0.0"/>

  <!-- Load the TORsten URDF description -->
  <param name="robot_description" command="$(find xacro)/xacro $(find torsten_description)/robots/torsten_base.urdf.xacro --inorder" />

  <!-- Run RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find torsten_gazebo_robot)/rviz/torsten_sim.rviz" required="true" />

  <!-- launch world -->
  <include file="$(find torsten_gazebo_world)/launch/$(arg world).launch" />

  <!-- spawn gazebo model -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_robot" respawn="false" output="screen"
    args="-param robot_description
          -urdf
          -x $(arg init_pos_x)
          -y $(arg init_pos_y)
          -z $(arg init_pos_z)
          -model torsten">
  </node>

  <!-- Load joint state publisher -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
  </node>

  <!-- launch joint state controller -->
  <include file="$(find torsten_gazebo_control)/launch/joint_state_controller.launch" />
  
  <!-- Load robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <!-- launch amcl for localization -->
  <node pkg="amcl" type="amcl" name="amcl">
    <remap from="scan" to="scan_front" />
    <rosparam file="$(find torsten_navigation)/amcl_config/amcl.yaml" command="load" />
  </node>

  <!-- The map file -->
  <arg name="map_file" default="$(find torsten_gazebo_robot)/launch/maps/sim_map.yaml"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Starting move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find torsten_navigation)/move_base_config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find torsten_navigation)/move_base_config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find torsten_navigation)/move_base_config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find torsten_navigation)/move_base_config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find torsten_navigation)/move_base_config/teb_local_planner_params.yaml" command="load" />

    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <param name="planner_frequency" value="1.0" />
    <param name="planner_patience" value="5.0" />

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="5.0" />
    <param name="controller_patience" value="15.0" />
  </node>

</launch>
