<?xml version="1.0"?>

<robot name="arena">
  <link name="wall_1">
    <inertial>
      <origin xyz="0 0 -0.2" rpy="1.570796327 0 0"/> 
      <mass value="100000.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 -0.2" rpy="1.570796327 0 0"/>
      <geometry>
        <mesh filename="package://torsten_gazebo_world/models/sim_map/sim_map.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.2" rpy="1.570796327 0 0"/>
      <geometry>
        <mesh filename="package://torsten_gazebo_world/models/sim_map/sim_map.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <gazebo>
    <static>true</static>
  </gazebo>
</robot>
